* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
  }

 b{font-family: 'Open Sans', sans-serif;

 }

 a {
    text-decoration: none;
 }

 img{
     max-width: 100%;
     width: 120px;
 }
 .wrap{
    background: url("../images/background-image.jpg") no-repeat center center/ cover;
    padding-bottom: 150px;
}
.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1000px;
}
  header {
      padding-top: 20px;
      margin-bottom: 150px;
    }
    header .container {  
        display: flex;
        align-items: center;
     }
 nav{
        margin-left: auto ;
    }

ul{
    margin: 0;
    padding: 0;
   display: flex;
}

li{
    list-style: none;
    padding: 0px 35px;
   
}
h1{
    margin-bottom: 80px;
    font-size: 50px;
    color: #6592dc;
}
select,button{
    width: 206px;
    height: 37px;
    font-size: 14px;
    padding-left: 8px;
    margin-right: 12px;
    border: 0;
        box-shadow: 0 0 7px 0 rgb(0 0 0 / 10%);
    border-radius: 3px;
}
select {
    color: #9b9b9b;
}

button {
    background-color: #6592dc;
    color: white;
}