* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
  }

 b{font-family: 'Open Sans', sans-serif;

 }

 a{
    text-decoration: none;
}

 img{
     max-width: 100%;
     width: 120px;
 }
 .wrap{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
body {
    background-image: url("../images/background-image.jpg");
   
} 
 
  header{
      display: flex;
      justify-content: space-around;
      padding-top: 20px;
     margin-bottom: 150px;
     }

 nav{
        margin-left: auto ;
    }

ul{
   
    margin: 0;
    padding: 0;
   display: flex;
}

li{
    list-style: none;
    padding: 0 20px;
   
}
h1{
    margin-bottom: 80px;
    font-size: 50px;
    color: #6592dc;
}
select,button{
    width: 206px;
    height: 37px;
    font-size: 14px;
    padding-left: 8px;
    margin-right: 12px;
}

button {
    background-color: #64bc598a;
    border: 1px solid black;
    color: white;
}